* {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#content {
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#add-item-container {
    display: inline-block;
}

.top {
    margin: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.bottom {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.add-item-label {
    display: inline-block;
    float: left;
    width: 75px;
    text-align: right;
    /* Spacing between label and "for" item */
    padding-right: 10px;
}

.add-item-input {
    display: inline-block;
    float: left;
    width: 300px;
}

#input-item-description {
    height: 200px;
}

.inventory-items-table {
    empty-cells: show;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid;
}

.inventory-items-table thead {
    font-weight: bold;
}

.inventory-items-table tbody {
    font-weight: normal;
}

.inventory-items-table tr,td,th {
    padding: 5px 15px;
    border: 1px solid;
    text-align: center;
}

.table-item-remove {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.uneditable {
    background-color: #e0e0e0;
}

.error-msg {
    float: right;
    color: red;
}